
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

/* Header dan navigasi */
header {
  background-color: #2C5A61;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo-img {
  height: 55px;
  width: auto;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu li {
  position: relative;
}

.nav-menu a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 8px 10px;
  display: block;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Hover underline effect */
.nav-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.nav-menu a:hover::after {
  width: 100%;
}

/* Dropdown Menu */
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  position: absolute;
  top: 80%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  min-width: 180px;
  border-radius: 6px;
  list-style: none;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(20px);
}

.dropdown-menu li a {
  padding: 10px 15px;
  color: #2C5A61;
  white-space: nowrap;
}

.dropdown-menu li a:hover{
  background-color: #2C5A61;
  color: white;
}

.dropdown {
  position: relative;
}


/* Shop button */
.shop-button a {
  padding: 10px 30px;
  background-color: #fff;
  color:  #2C5A61;
  border-radius: 100px;
  text-decoration: none;
  transition: all 400ms;
}

.shop-button a:hover {
  background-color: #2C5A61;
  color: #fff;
  border: 1px solid #fff;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .nav-menu li {
    width: 100%;
  }

  .shop-button {
    align-self: flex-end;
    margin-top: 10px;
  }
}
